<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <!-- Required meta tags for Bootstrap-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Home</title>
</head>

<body class="container">
    <div id="app">
        <nav class="navbar">
            <div class="container-fluid d-flex justify-content-start">
                <div class="navbar-nav p-1">
                    <router-link :to="{ name: 'homepage' }" class="btn btn-info"> Home</router-link>
                </div>
                <div class="navbar-nav p-1">
                    <router-link :to="{ name: 'data-page' }" class="btn btn-warning"> Data</router-link>
                </div>
                <div class="navbar-nav p-1 ms-auto">
                    <router-link :to="{name: 'logout'}" class="btn btn-danger">Sign out</router-link>
                </div>
            </div>
        </nav>
        <router-view></router-view>
    </div>
</body>
<script type="module">
    /*
     * Configure Axios
     */
    axios.defaults.withCredentials = true;
    axios.defaults.baseURL = 'https://localhost:5001/api/';
    const userTokenItemName = 'userToken';

    function lsGetToken(key) {
        const token = localStorage.getItem(userTokenItemName);

        if (!token) {
            console.log('No user token was found in local storage.');
            return undefined;
        }

        return JSON.parse(token);
    }

    function lsSetToken(userToken) {
        if (!userToken) {
            throw new Error('Invalid userToken input.');
        }

        localStorage.setItem(userTokenItemName, JSON.stringify(userToken));
        axios.defaults.headers.common['Authorization'] = `Bearer ${ userToken }`;
    }

    function lsRemoveToken() {
        localStorage.removeItem(userTokenItemName);
        axios.defaults.headers.common['Authorization'] = null;
    }

    /*
     * Define Components
     */
    const RootComponent = {
        template: `
          <h3>Page loaded at:</h3>
          <pre>{{ dateLoaded }}</pre>
          <div class="card">
          <div class="card-body">
            <h5 class="card-title">Home</h5>
            <p v-if="message" class="card-text">
              {{ message }}
            </p>
            <button v-if="!authenticated" v-on:click="signIn" class="btn btn-primary">
              Sign in
            </button>
            <div v-if="authenticated">
              <p>You're signed in!</p>
              <button v-on:click="clearToken" class="btn btn-info">Clear token</button>
            </div>
            <router-view></router-view>
          </div>
          </div>
        `,
        mounted() {
            if (lsGetToken()) { lsRemoveToken(); }
            this.authenticated = !!lsGetToken();

            if (this.authenticated) {
                router.push({ name: 'data-page' });
            } else if (this.$route.path === '/app/home') {
                this.signIn();
            }
        },
        data() {
            return {
                dateLoaded: Date(),
                message: null,
                authenticated: Boolean,
            };
        },
        methods: {
            signIn() {
                const self = this;
                self.message = 'Signing in...';

                axios
                    // Get Spotify auth URL from API
                    .get('auth')
                    .then(function (response) {
                        console.log('auth response:');
                        console.log(response);
                        try {
                            // redirect to Spotify to sign in
                            window.location.href = response.data;
                            // redirect returns to https://localhost:5001/app/home/login?code=$AUTH_CODE
                            // or https://localhost:5001/app/home/login?error=access_denied&state=STATE
                        } catch (e) {
                            self.message = e;
                        }
                    })
                    .catch(function (error) {
                        console.log('line 138');
                        self.message = error.message;
                    });
            },
            clearToken() {
                lsRemoveToken();
                this.authenticated = false;
            },
        },
    };

    const PageNotFoundComponent = {
        template: `
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">404 Page Not Found</h4>
                    <p>Sorry, there's not a page at {{ this.$route.path }}</p>
                </div>
                `,
    };

    const LogoutComponent = {
        template: `
                <div class="alert alert-info" role="alert">
                    <p>Logging out...</p>
                </div>
                `,
        mounted() {
            if (lsGetToken()) {
                lsRemoveToken();
            }
            this.$router.push({ name: 'homepage' });
        },
    };

    const LoginComponent = {
        props: ['authCode', 'error', 'state'],
        template: `
          <div v-if='authMessage' class='alert alert-primary'>{{ authMessage }}</div>
          <div v-if='errorMessage' class='alert alert-danger'>{{ errorMessage }}</div>
        `,
        mounted() {
            if (!!lsGetToken()) {
                this.$router.push({ name: 'data-page' });
            } else if (this.error) {
                this.showErrorMessage(this.error);
            } else if (this.authCode) {
                this.getAccessToken(this.authCode, this.state);
            } else {
                throw new Error('Either `authCode` or `error` should be populated.');
            }
        },
        data() {
            return {
                authMessage: null,
                errorMessage: null,
            };
        },
        methods: {
            getAccessToken(code, state) {
                this.authMessage = 'Getting authorization code...';
                const self = this;

                axios
                    .post('auth/token', {
                        code: code,
                        state: state,
                    })
                    .then(function (response) {
                        try {
                            self.authMessage = 'Logged in successfully!';
                            lsSetToken(response.data);
                            router.push({ name: 'data-page' });
                        } catch (e) {
                            self.errorMessage = e;
                        }
                    })
                    .catch(function (error) {
                        self.errorMessage = error.message;
                    });
            },
            showErrorMessage(error) {
                this.errorMessage = 'Login failed: ' + error;
            },
        },
    };

    const SpotifyDataComponent = {
        template: `
          <div class="card">
          <div class="card-body">
            <h5 class="card-title">Data page</h5>
            <obj-properties-list v-bind:obj="userToken"></obj-properties-list>
            <button v-if="userToken.refreshToken" v-on:click="refreshToken" class="btn btn-info">Refresh
              token
            </button>
            <div v-if='errorMessage' class='alert alert-danger'>{{ errorMessage }}</div>
          </div>
          </div>
          <playlist-data></playlist-data>
          <user-data></user-data>
        `,
        mounted() {
            const token = lsGetToken();

            if (!token) {
                console.log('User does not have a token. Going back to homepage.');
                this.$router.push({ name: 'homepage' });
            } else {
                let dateNow = new Date();
                let expirationDate = new Date(token.expiration);

                if (expirationDate > dateNow) {
                    this.userToken = token;
                } else {
                    this.refreshToken();
                }
            }
        },
        data() {
            return {
                errorMessage: null,
                userToken: {
                    accessToken: String,
                    refreshToken: String,
                    expiration: Date,
                    scopes: Array,
                },
            };
        },
        watch: {
            userToken: function (val) {
                axios.defaults.headers.common['Authorization'] = `Bearer ${ val.accessToken }`;
            },
        },
        methods: {
            refreshToken() {
                const self = this;

                axios
                    .post('auth/token/refresh', {
                        refreshToken: this.userToken.refreshToken,
                    })
                    .then(function (response) {
                        try {
                            self.userToken = response.data;
                            lsSetToken(response.data);
                        } catch (e) {
                            self.errorMessage = e;
                        }
                    })
                    .catch(function (error) {
                        this.errorMessage = 'Failed to refresh token';
                        self.errorMessage = error.message;
                        lsRemoveToken();
                    });
            },
        },
    };

    const CurrentUserComponent = {
        template: `
          <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              User Profile
            </h5>
            <div v-if="errorMessage" class='alert alert-danger'>{{ errorMessage }}</div>
            <div v-if="successMessage" class="alert alert-success">{{ successMessage }}</div>
            <div v-if="isLoading" class="d-flex justify-content-center">
              <div class="spinner-border text-primary" role="status"></div>
              <strong>Updating Playlists...</strong>
            </div>
            <div class="row">
              <div class="col p-2">
                <button v-on:click="getUserProfile" class="btn btn-primary">Get User Profile
                </button>
              </div>
              <div class="col p-2">
                <button v-on:click="getUserPlaylists" class="btn btn-warning">Get Playlists
                </button>
              </div>
              <div class="col p-2">
                <button v-on:click="updatePlaylists" class="btn btn-info align-center">Update Playlists
                </button>
              </div>
            </div>
            <obj-properties-list v-if="displayObject"
                                 v-for="item in displayObject"
                                 v-bind:obj="item"></obj-properties-list>
            <img v-if="userProfile" v-bind:src="userProfile.images[0].url" height="100"
                 alt="user profile pic"
                 class="img-thumbnail">
          </div>
          </div>
        `,
        // mounted() {
        //    this.$nextTick(function () {
        //        this.updatePlaylists();
        //    });
        // },
        data() {
            return {
                userProfile: null,
                userPlaylists: null,
                errorMessage: null,
                successMessage: null,
                displayObject: null,
                offset: Number,
                limit: Number,
                playlistId: null,
                isLoading: false,
            };
        },
        methods: {
            updatePlaylists() {
                this.isLoading = true;
                const self = this;
                let postBody = {};

                if (this.playlistId) {
                    postBody = {
                        limit: this.limit,
                    };
                }

                axios
                    .post('user/playlists/', postBody)
                    .then(function (response) {
                        try {
                            self.displayObject = {};
                            self.successMessage = `Update Playlists call returned: ${ response.status } ${ response.statusText }`;
                            router.push({ name: 'stop-application' });
                        } catch (e) {
                            self.errorMessage = e;
                        }
                    })
                    .catch(function (error) {
                        self.errorMessage = error.message;
                    })
                    .finally(() => {
                        this.isLoading = false;
                    });
            },
            getUserProfile() {
                const self = this;

                axios
                    .get('user')
                    .then(function (response) {
                        try {
                            self.userProfile = response.data;
                            self.displayObject = [self.userProfile];
                            self.successMessage = `Get Current User call returned: ${ response.status } ${ response.statusText }`;
                        } catch (e) {
                            self.errorMessage = e.message;
                        }
                    })
                    .catch(function (error) {
                        self.errorMessage = error.message;
                    });
            },
            getUserPlaylists() {
                const self = this;

                axios
                    .get('user/playlists')
                    .then(function (response) {
                        try {
                            self.userPlaylists = response.data;
                            self.displayObject = self.userPlaylists;
                            self.successMessage = `Get User Playlists call returned: ${ response.status } ${ response.statusText } | Response contained ${ response.data.length } playlists.`;
                        } catch (e) {
                            self.errorMessage = e.message;
                        }
                    })
                    .catch(function (error) {
                        self.errorMessage = error.message;
                    });
            },
        },
    };

    const StopApplicationTemplate = {
        template: `<div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">
              Stop Application
            </h5>
            <div v-if="errorMessage" class='alert alert-danger'>{{ errorMessage }}</div>
            <div class="row">
              <div class="col p-2 d-flex justify-content-center"> Stopping App... </div>
            </div>
            <div class="row">
                <div class="col p-2 d-flex justify-content-center"> {{ statusMessage }} </div>
            </div>
          </div>
          </div>`,
        mounted() {
            this.stopApp();
        },
        methods: {
            data() {
                return {
                    errorMessage: "[unset]",
                    statusMessage: "[unset]",
                }
            },
            stopApp() {
                this.statusMessage = 'Stopping application...';

                axios
                    .post('user/stop-application/', {})
                    .then(function (response) {
                        try {
                            self.statusMessage = `Stop App call returned: ${ response.status } ${ response.statusText }`;
                        } catch (e) {
                            self.errorMessage = e;
                        }
                    })
                    .catch(function (error) {
                        self.errorMessage = error.message;
                    });
            },
        }
    };

    const PlaylistDataComponent = {
        template: `
          <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Update Playlist
            </h5>
            <div v-if="errorMessage" class='alert alert-danger'>{{ errorMessage }}</div>
            <div v-if="successMessage" class="alert alert-success">{{ successMessage }}</div>
            <div class="row">
              <div class="col p-2">
                <input id="playlist-id-input" type="text" v-model="playlistId" class="m-2"
                       placeholder="playlist id"/>
                <label for="playlist-id-input">Playlist Id</label>
              </div>
            </div>
            <div class="row">
              <div class="col p-2">
                <button v-on:click="updateTracks" v-bind:disabled="!playlistId"
                        class="btn btn-primary p-2 align-center">
                  Update Playlist
                </button>
              </div>
              <div class="col p-2">
                <button v-on:click="updateTracks" v-bind:disabled="!playlistId"
                        class="btn btn-primary p-2 align-center">
                  Sync Playlist
                </button>
              </div>
            </div>
          </div>
          </div>
        `,
        data() {
            return {
                playlistId: null,
                successMessage: null,
                errorMessage: null,
            };
        },
        methods: {
            updateTracks() {
                const self = this;

                axios
                    .post(`playlists/${ this.playlistId }/tracks`, {})
                    .then(function (response) {
                        try {
                            self.successMessage = `Updated playlist ${ self.playlistId }!`;
                        } catch (e) {
                            self.errorMessage = e;
                        }
                    })
                    .catch(function (error) {
                        self.errorMessage = error.message;
                    });
            },
            syncPlaylist() {
                const self = this;

                axios
                    .post(`playlists/${ this.playlistId }/sync`, {})
                    .then(function (response) {
                        try {
                            self.successMessage = `Updated playlist ${ self.playlistId }!`;
                        } catch (e) {
                            self.errorMessage = e;
                        }
                    })
                    .catch(function (error) {
                        self.errorMessage = error.message;
                    });
            },
        },
    };

    const ObjectPropertiesListComponent = {
        props: ['obj'],
        template: `
          <table class="table table-success table-striped table-bordered text-break">
          <tbody>
          <tr v-for="(value,name) in obj">
            <td>
              <b>{{ name }}</b>
            </td>
            <td style="width:85%">
              {{ value }}
            </td>
          </tr>
          </tbody>
          </table>
        `,
    };

    /*
     * Create Routes and Router
     */
    const routes = [
        {
            path: '/app/home',
            name: 'homepage',
            component: RootComponent,
            children: [
                {
                    path: 'login',
                    name: 'login',
                    component: LoginComponent,
                    props: (route) => ({
                        authCode: route.query.code,
                        error: route.query.error,
                        state: route.query.state,
                    }),
                },
            ],
        },
        { path: '/app', redirect: { name: 'homepage' } },
        {
            path: '/app/data',
            name: 'data-page',
            component: SpotifyDataComponent,
            props: true,
        },
        { path: '/stop-application', name: 'stop-application', component: StopApplicationTemplate },
        { path: '/stop', name: 'stop-application', component: StopApplicationTemplate },
        { path: '/logout', name: 'logout', component: LogoutComponent },
        { path: '/:pathMatch(.*)*', name: 'page-not-found', component: PageNotFoundComponent },
    ];

    const router = VueRouter.createRouter({ history: VueRouter.createWebHistory(), routes });

    /*
     * Create and mount App
     */
    const app = Vue.createApp({});
    app.component('user-data', CurrentUserComponent);
    app.component('playlist-data', PlaylistDataComponent);
    app.component('obj-properties-list', ObjectPropertiesListComponent);
    app.use(router);
    app.mount('#app');
</script>

</html>
