html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* top | left and right | bottom */
    margin: 25px auto 60px;
    background: aliceblue;
}

main {
    margin: 25px;
    align-content: center;
    text-align: center;
}

input {
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
}

table {
    border: none;
    border-collapse: collapse;
}

caption {
    margin: 1em;
}

th {
    padding: 1em 5em 1em 1em;
}

td {
    padding: 1em;
}

#sync-results,
#me {
    display: flex;
    justify-content: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

#me > table {
    text-align: left;
}
