@model Playlister.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login (wip)</h1>
    <div>
        Code:
        <pre>@Model.Code</pre>
    </div>
    <div>
        State:
        <pre>@Model.State</pre>
    </div>
</div>
