@model Playlister.Mvc.ViewModels.SyncViewModel

@{
    ViewData["Title"] = "sync all playlists";
}
<div>
    <h1>Sync All Playlists</h1>
    <div id="sync-results">
        <p>Page Loading &hellip;</p>
    </div>
</div>
<script type="text/javascript">
    window.onload = async function () {
        const resultsDivId = 'sync-results';
        const base_url = `${ window.location.origin }`

        document.getElementById(resultsDivId).innerHTML = '<p style="color:darkorange">Syncing &hellip;</p>';

        try {
            const response = await fetch(`${ base_url }/api/playlists/sync`, { method: 'POST', credentials: 'include' });
            document.getElementById(resultsDivId).innerHTML = resultsTable(await response.json());

            await fetch(`${ base_url }/stop-application`, { method: 'POST', credentials: 'include' });
        } catch (e) {
            console.error(e);
            document.getElementById(resultsDivId).innerHTML = `<p><b style="color:darkred">Sync failed:</p><pre>${ e.message }</pre></b>`;
        }

        function resultsTable({ playlistCount, playlistAlbumCount, orphanedTracksDeleted, playlistsUpdated, timeElapsed }) {
            return `<table>
                <caption>
                    Results
                </caption>
                <tbody>
                    <tr style="background-color: sandybrown">
                        <th class="text-left">Total # of Playlists</th>
                        <td class="text-right">${ playlistCount }</td>
                    </tr>
                    <tr style="background-color: thistle">
                        <th class="text-left">Total # of Playlist Albums</th>
                        <td class="text-right">${ playlistAlbumCount }</td>
                    </tr>
                    <tr style="background-color: darkkhaki">
                        <th class="text-left"># of Playlists updated</th>
                        <td class="text-right">${ playlistsUpdated }</td>
                    </tr>
                    <tr style="background-color: coral">
                        <th class="text-left"># of orphaned Tracks deleted</th>
                        <td class="text-right">${ orphanedTracksDeleted }</td>
                    </tr>
                    <tr style="background-color: yellow">
                        <th class="text-left">Time taken</th>
                        <td class="text-right">${ timeElapsed }</td>
                    </tr>
                </tbody>
            </table>`
        }
    };
</script>
