@model Playlister.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "playlister";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <div>SpotifyAuthUrl: <pre>@Model.SpotifyAuthUrl</pre></div>
</div>
