@model Playlister.Mvc.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div>
    @foreach ((string displayText, string color, string action, string controller) in Model.Links)
    {
        <input type="button"
               class="btn"
               style="background-color: @color"
               value="@displayText"
               onclick="location.href='@Url.Action(action, controller)'"/>
    }
</div>
