@using Playlister.Mvc.Controllers
@model Playlister.Mvc.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div>
    @foreach ((string displayText, string color, string action, string controller) in Model.Links)
    {
        <input type="button" class="btn" style="background-color: @color" value="@displayText"
            onclick="location.href='@Url.Action(action, controller)'" />
    }
</div>
<script>
    @{
        if (Model.HandsFree)
        {
            <text>
                    window.onload = async function () {
                        window.location = '@Url.Action("Index", SyncController.Name)';
                    }
            </text>
        }
        else
        {
            <text>
                    console.log("handsfree mode disabled");
            </text>
        }
    }
</script>
