@model Playlister.ViewModels.NotFoundViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <head>
        <title>Page Not Found</title>
    </head>
</head>
<h1>404 Page Not Found</h1>
<div>
    Invalid URL<pre>@Model.Path</pre>
</div>
